<form (ngSubmit)="onSubmit()" #nameForm="ngForm">
    <div>
      <label for="pan">PAN:</label>
      <input type="number" id="pan" name="pan" [(ngModel)]="pan" required />
    </div>
    <div>
        <label for="security_code">Security code:</label>
        <input type="number" id="security_code" name="security_code" [(ngModel)]="security_code" required />
    </div>
    <div>
        <label for="card_holder_name">Card holder name:</label>
        <input type="text" id="card_holder_name" name="card_holder_name" [(ngModel)]="card_holder_name" required />
    </div>
    <label for="dateInput">Expiration date (YY/MM):</label>
    <input 
      type="text" 
      id="dateInput" 
      name="dateInput" 
      [(ngModel)]="expiration_date"  
      required 
      appDateValidator 
      #dateInput="ngModel" 
      placeholder="YY/MM"
    />
    <div>
      <p>Amount: {{amount}} din</p>
    </div>
    <button type="submit" [disabled]="!nameForm.form.valid">Submit</button>
</form>